Host nazgul.vpn
	Hostname 192.168.4.41
	Port 22
	User david

Host nazgul.minecraft
	Hostname 192.168.4.160
	Port 22
	User david

Host nazgul.arch
	Hostname 192.168.4.192
	Port 22
	User david

Host nazgul.homeassistant
	Hostname 192.168.4.137
	Port 22
	User admin

Host nazgul.jellyfin
	Hostname 192.168.4.174
	Port 22
	User david
Host godly
	Hostname 192.168.4.133
	Port 22
	User david
Host nazgul.ubuntu
	Hostname 192.168.4.105
	Port 22
	User david
Host nazgul.yellowgrid
	Hostname 192.168.4.178
	Port 22
	User david
Host backend.ciw.cz
	Hostname orac.ciw.cz
	Port 22
	User nazgul
Host yg-dev
    # YellowGrid staging VDS from master.cz
    HostName yg.ciw.cz
    Port 22
    User root
