@import url("/home/david/.cache/wal/colors-waybar.css");



* {
    border: none;
    border-radius: 10px;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
    opacity: 1;
}

window#waybar { /* bottom layer of waybar */
    background: transparent;
}

tooltip { /* tooltip on hover */
    background: @background;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: @color1;
    padding-right: 7px;
    padding-left: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
}



#workspaces button { /* WS buttons of non-focused WS with open windows */
    color: @color2;
    margin-right: 0px;
    padding-right: 4px;
    padding-left: 4px;
}

#workspaces button.active {
    color: @color2;
}

#workspaces button.focused {
    color: @color2;
    background: #eba0ac;
    border-radius: 13px;
}



#workspaces button.persistent {
    color: #5d3874;
}


#workspaces button.empty {
    color: #313244;
}

#workspaces button.active,
#workspaces button.visible {
    color: @background;
    background: @color2;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 16px;
}

#workspaces button.urgent {
    color: @color6;
}
#language,
#cpu,
#window,
#clock,
#pulseaudio,
#pulseaudio.microphone,
#workspaces,
#memory,
#disk,
#battery,
#power-profiles-daemon,
#tray {
    background: @background;
    opacity: 0.9;
    padding: 1.5px 7px 1.5px 7px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 13px;
    margin-right: 5px;
    margin-left: 5px;
    color: @color2;
}

#workspaces {
    background: @background;
    border-radius: 13px;
    margin-left: 5px;
    padding-right: 5px;
}

#window {
    border-radius: 7px;
    margin-left: 60px;
    margin-right: 60px;
}

#clock {
    color: @color2;
    border-radius: 13px 13px 13px 13px;
    margin-right: 0px;
    margin-left: 0px;
}

#network {
    color: #f9e2af;
    border-radius: 7px 7px 7px 7px;
    margin-right: 5px;
}

#custom-notifications {
    color: #f9e2af;
    border-radius: 7px 7px 7px 7px;
    padding-left: 9px;
    padding-right: 15px;
    margin-left:  2px;
    margin-right: 2px;

}

#custom-updates {
    color: #89b4fa;
    border-radius: 7px 7px 7px 7px;
    border-left:  0px;
    border-right: 0px;
    margin-left:  2px;
    margin-right: 2px;
}

#custom-player {
 color: #cba6f7;
 border-radius: 7px 7px 7px 7px;
 padding-left: 4px;
 margin-left:  5px;
 margin-right: 5px;
}

#memory {
    color: @color2;
    border-radius: 0px 0px 0px 0px;
    margin-left: 0px;
    margin-right:0px;
}
#memory.warning{
    color: #ff5555 /* red */
}

#disk {
    color: @color2;
    border-radius: 0px 13px 13px 0px;
    margin-left: 0px;
}
#disk.warning{
    color: #ff5555
}


#bluetooth {
  color: #89b4fa;
  border-radius: 0px 13px 13px 0px;
  margin-left: 5px;
  margin-right: 5px;
} 

#pulseaudio {
  color: @color2;
  border-radius: 0px 0px 0px 0px;
  margin-right: 0px;
  margin-left: 0px;
}

#pulseaudio.microphone {
    color:@color2;
    border-radius: 0px 13px 13px 0px;
    margin-left: 0px;
    margin-right: 5px;
}

#language {
   border-radius: 13px 0px 0px 13px;
   margin-right:0px;
}

#cpu {
   color:@color2;
   border-radius: 13px 0px 0px 13px;
   padding-left:10px;
   margin-right:0px;
   margin-left: 0px;
}
#cpu label{
    color: @color2;
}
#cpu.warning{
    color: #ff5555 /* red */
}

#battery {
    border-radius: 13px 13px 13px 13px;
    margin-left: 0px;
    margin-right:0px;
    color: @color2;
}
#battery.critical {
    color: #ff5555; /* red */
}
#battery.warning {
    color: #ffae42; /* orange */
}
#battery.good {
    color: @color2; /* green */
}
#power-profiles-daemon {
    color: @color2;
    border-radius: 13px 0px 0px 13px;
    margin-left: 0px;
    margin-right:0px;
}

#language{ /* language selector */
    color: @color2;
}

#custom-dropdown {
    color: @color2;
    background: @background;
    opacity: 0.9;
    border-radius: 13px 13px 13px 13px;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 5px;
    margin-bottom: 5px;
}
