
@theme "/home/david/.cache/wal/colors-rofi-dark.rasi"

configuration {
    font: "JetBrainsMono Nerd Font 12";
}

window {
  background-color: transparent;
  border: 10;
  padding: 0;
  transparency: "real";
}

listview {
  lines: 10;
  columns: 1;
}
